/* static/rreports/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif !important;
    /* font-family: 'Arial', sans-serif; */
    background-color: #fff;
    margin: 0;
}

.translation-container {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 20px;
}

.text-area-container {
    width: 45%;
    padding: 20px;
    background-color: white;
    border: 1px solid #050505;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.1);
}

h1 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

textarea {
    font-family: 'Arial', sans-serif;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    min-height: 405px;
    width: 97%; /* Set width to 100% */
    resize: none;
    overflow-y: auto;
    display:block;
    resize: none;

}

select {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-right: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: #4caf50; /* Border color when hovering or focusing */
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a07a45;
}

button[type="button"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #a07a45;
}


.loader {
    display: flex;
    position: fixed;
    top: 45%;
    left: 72%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    visibility:hidden;
    z-index: 1000;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#tr_id {
    font-family: 'Arial', sans-serif;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    min-height: 405px;
    width: 97%; /* Set width to 100% */
    resize: none;
    overflow-y: auto;

}

header .end {
    display: flex;
    justify-content:right;
}


/* header .end{ */

/* } */
