@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #ffffff !important;
  overflow: hidden !important;
}
::selection{
  background: rgba(56, 178, 248, 0.3);
}
.lcontainer{
  max-width: 440px;
  padding: 0 20px;
  margin: 30vh auto;
}
.lwrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.lwrapper .title{
  height: 90px;
  background: #0000ff;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lwrapper form{
  padding: 30px 25px 25px 25px;
}
.lwrapper form .lrow{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.lwrapper form .lrow input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .lrow input:focus{
  border-color: #136b97;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 129, 188, 0.25);
}
form .lrow input::placeholder{
  color: #999;
}
.lwrapper form .lrow i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #0000ff;
  border: 1px solid #0000ff;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lwrapper form .pass{
  margin: -8px 0 20px 0;
}
.lwrapper form .pass a{
  color: #0000ff;
  font-size: 17px;
  text-decoration: none;
}
.lwrapper form .pass a:hover{
  text-decoration: underline;
}
.lwrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #0000ff;
  border: 1px solid #0000ff;
  cursor: pointer;
}
form .button input:hover{
  background: #1373b9;
}
.lwrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.lwrapper form .signup-link a{
  color: #0000ff;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.lwrapper form .login-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.lwrapper form .login-link a{
  color: #0000ff;
  text-decoration: none;
}
form .login-link a:hover{
  text-decoration: underline;
}


/*Alert CSS*/
.alert-container {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100hw;
  margin: 3vh auto;
  text-align: center;
  position: absolute; 
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp {
  width: unset;
}

.alert {
  padding: .7143rem 1.071rem;
  margin-bottom: 1.429rem;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #FFF
}

.alert.alert-square {
  border-radius: 0
}

.alert .close {
  position: relative
}

.alert.alert-dismissable,
.alert.alert-dismissible {
  padding-right: 2.5rem
}

.alert.alert-dismissable .close,
.alert.alert-dismissible .close {
  top: -2px;
  right: -20px;
  color: inherit
}

.alert.alert-primary {
  background-color: #33f6b5 !important;
  border-color: #21f3a3 !important;
}

.alert.alert-warning {
  background-color: #fefe9c !important;
  border-color: #fefe9c !important;
}