@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}


hr{
  margin-top: 0;
}

.header-div * {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-div {
  background-color: white;
  color: #0b5394;
  font-size: 24px;
  margin: 20px 15px 30px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div h1{
  margin: 0;
}


.logo {
  width: calc(2.1rem + 1.1vw);
}

.logout * {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.logout {
  text-align: right;
}

.logout a {
  text-decoration: none;
  color: #0b5394;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .logout a {
    font-size: 10px;
  }
}

main {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-size: small;
    border: 1px dotted;
    border-color: transparent transparent lightgrey transparent;
    /* Hide the scrollbar
    scrollbar-width: none; /* Firefox */
    /* -ms-overflow-style: none; Internet Explorer and Edge */
    /* ::-webkit-scrollbar { */
      /* display: none; Chrome, Safari, Opera */
    /* } */
    /* Set other necessary styles for scrolling */
    /* overflow: auto; */
  }

p {
    margin-top: 10px;
    font-size: small;
    line-height: 2;
}


/* select {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-right: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: blue; 
} */


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    /* font-family: Arial; */
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: transparent !important;
    border: 1px solid !important;
    border-color: grey !important;
    color: grey;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: grey transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent grey transparent;
    top: 10px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid grey;
    border-top: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-items div {
    color: grey;
    border-radius: 0;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(197, 197, 197, 0.512);
    /* color: #fff; */
  }

button {
    background-color: #0b5394;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}


button:hover {
  background-color: white;
  color: #0b5394;
}

button:active {
  color: #0b5394;
  background-color: #ffffff;
  box-shadow: 0 0 30px 1px #737373 inset;
}


.textcontainer {
    position: relative;
}

.clear {
    /* position: relative; */
    display: flex;
    /* z-index: 1; */
    /* bottom: -8.5px; */
    /* right: 0px; */
    /* border: 1px solid grey; */
    /* align-items: center; */
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 0px 3px 0px 3px;
}

.clear a {
  background-color: #0b5394;
  color: white !important;
  padding: 10px 15px !important;
  border: none !important;
  cursor: pointer;
  border-radius: 4px !important;
  font-size: 16px !important;
  width: 120px !important;
}

.clear a:hover{
    color: #0b5394 !important;
    background-color: #ffffff;
}

.clear a:active{
  color: #0b5394 !important;
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #000 inset;
}

/* HTML: <div class="loader"></div> */
.loader {
  color: #0b5394;
  width: 4px;
  margin-top: 21px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-13px);
  animation: l21 .5s infinite alternate linear;
  display: none;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
} */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
  border: 10px dotted #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: black;
}

*::-webkit-scrollbar-track:active {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: lightgrey;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

*::-webkit-scrollbar-thumb:active {
  background-color: grey;
}