@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: white;
    /* padding: 10px; */
    text-align: center;
    color: blue;
    font-size: 24px;
}

hr{
  margin-top: 0;
}

main {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-size: small;
}

p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 2;
}


/* select {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-right: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: blue; 
} */

.head-margin{
  /* font-size: xx-small; */
  margin-left: 20% !important;
  /* transform: translate(-50%, 0%) !important; */
}


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    /* font-family: Arial; */
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: transparent !important;
    border: 2px solid !important;
    border-color: #0000ff !important;
    color: #0000ff;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #0000ff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #0000ff transparent;
    top: 10px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #00f;
    border-top: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-items div {
    color: #00f;
    border-radius: 0;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #00f4;
    /* color: #fff; */
  }

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}


button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}

input[type="submit"]:hover, button:hover {
    background-color: #01037e;
}

.logout{
    /* background-color: transparent !important; */
    color: #0000ff;
    /* border: 6px solid #000 !important; */
}

.textcontainer {
    position: relative;
}

.clear {
    /* position: absolute; */
    /* z-index: 1; */
    bottom: -8.5px;
    right: 0px;
    /* border: 1px solid grey; */
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 0px 3px 0px 3px;
}

.clear a {
    color:#0000003f !important;
    /* background-color: #000 !important; */
    cursor: pointer;
    font-size: medium;
    /* font-weight: bold; */
}

.clear a:hover{
    color: #000 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  --c: no-repeat linear-gradient(#000 0 0); 
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0000; 
  position: relative;
  animation: l8-0 3s infinite linear;
  clip-path: inset(-20px 0);
  margin-top: 35px;
  display: none;
}
.loader::before {
  content:"Loading";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: #00f;
  left: -10px;
  bottom: 100%;
  animation: l8-1 3s infinite linear;
}
@keyframes l8-0{
   0%,
   12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
   87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
   100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
}
@keyframes l8-1{
  100% {left:115%}
}
