@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: white;
    /* padding: 10px; */
    text-align: center;
    color: blue;
    font-size: 24px;
}

main {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 2;
}


/* select {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-right: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: blue; 
} */


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    /* font-family: Arial; */
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: transparent !important;
    border: 2px solid !important;
    border-color: #0000ff !important;
    color: #0000ff;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #0000ff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #0000ff transparent;
    top: 10px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #01037e;
    border-radius: 5px;
    border: 2px solid #01037e;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-items div {
    color: #ffffff;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(149, 149, 149, 0.475);
  }

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}


button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}

input[type="submit"]:hover, button:hover {
    background-color: #a07a45;
}

.logout{
    /* background-color: transparent !important; */
    color: #0000ff;
    /* border: 6px solid #000 !important; */
}

.textcontainer {
    position: relative;
}

.clear {
    position: absolute;
    z-index: 1;
    bottom: 18px;
    right: 8px;
}

.clear a {
    color:#0000003f !important;
    /* background-color: #000 !important; */
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

.clear a:hover{
    color: #000 !important;
}

#loader {
    display: flex;
    position: fixed;
    top: 45%;
    left: 47%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    visibility:hidden;
    z-index: 1000;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
