@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: blue;
    font-size: 24px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 2;
}


select {
    width: 25%;
    padding: 10px;
    /* margin-top: 10px; */
    /* margin-right: .5em; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: blue; /* Border color when hovering or focusing */
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}

input[type="submit"]:hover {
    background-color: #a07a45;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 120px;
}

button:hover {
    background-color: #a07a45;
}

button .logout{
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
}

#loader {
    display: flex;
    position: fixed;
    top: 45%;
    left: 47%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    visibility:hidden;
    z-index: 1000;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
