{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Translate</title>
    <link href="{%static 'rreports_2/style.css'%}" rel="stylesheet">
    
</head>
<body>
    <header>
        Fin Research Translate
    </header>
    <main>
        <form id="translationForm" action="{% url 'rreports_2:index' %}" method="post" onsubmit = "submitForm()">
            {% csrf_token %}
            <textarea id = "textToTranslate" name="textToTranslate" placeholder="Enter text with two blank lines after headlines and paragraphs">{{original_text}}</textarea>
             <select name="language">
                <option value="ml">Malayalam</option>
                <option value="ta">Tamil</option>
                <option value="hi">Hindi</option>
                <option value="te">Telugu</option>
                <option value="mr">Marathi</option>
            </select>
            <input type="submit" value="Translate">
            <button type="button" onclick="closeForm()">Clear</button>


        </form>
        <p id = "translationOutput">{{translation|safe}}</p>
        <div id="loader"></div>

    </main>

    <script>
        function closeForm() {
            document.getElementById('textToTranslate').value = '';
            document.getElementById ('translationOutput').innerHTML = '';
        }

        function submitForm() {
        var loader = document.getElementById('loader');
        loader.style.visibility = 'visible';
        }

    </script>

</body>
</html>
