{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="DeepBlue Research Pvt. Ltd." />
    <meta name="description" content="An app to translate financial documents from English to Indian Regional Languages. Hindi, Malayalam, Tamil, Telegu, Marathi etc." />
    <meta name="keywords" content="translation, malayalam, english, hindi, telugu, marathi, best, financial, documents, content" />
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/translate-favicon.png' %}">
    <title>Login | dbtranslate</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script>
      const authURL = "{% url 'users:gauth' %}";
    </script>
  </head>
  <body>
    {% if message %}
    <div class="alert-container">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    {% endif %}
    <div class="lcontainer">
      <img src="{% static 'imgs/logo1.svg' %}" alt="">
      <div class="lwrapper">
        <img src="{% static 'imgs/logo.svg' %}" alt="">
        <!-- <div class="title">Translate</div> -->
        <div class="gbutton" id="gbutton">
          <div
            id="g_id_onload"
            data-client_id="129500516432-6rbd9893voa71k8dgpbrqo3hfi02rnhv.apps.googleusercontent.com"
            data-context="use"
            data-ux_mode="popup"
            data-login_uri="{% url 'users:gauth' %}"
            data-nonce=""
            data-itp_support="true"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="continue_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
