{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An app to translate financial documents from English to Indian Regional Languages. Hindi, Malayalam, Tamil, Telegu, Marathi etc." />
    <meta name="keywords" content="translation, malayalam, english, hindi, telugu, marathi, best, financial, documents, content" />
    <title>Translate | deepblue</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/translate-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="{%static 'css/style.css'%}" rel="stylesheet" />
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="header-div">
        <div class="col-1">
          <div class="logo">
            <img src="{% static 'imgs/logo1.svg' %}" alt="deepblue logo"/>
          </div>
        </div>
        <div><h1>Translate</h1></div> 
        {% if user.is_authenticated %}
        <div class="col-1 logout">
            <a href="{% url 'users:logout' %}">Logout</a>
          </div>
        {% endif %}
      </div>
    </header>
    <!-- <hr> -->
    <main>
      <form
        id="translationForm">
        {% csrf_token %}
        <div class="textcontainer">
        <textarea
          id="textToTranslate"
          name="textToTranslate"
          placeholder="Enter text with two blank lines after headlines and paragraphs"></textarea>
        </div>
        <div class="tools">
          <div class="clear">
            <a title="Clear" onclick="cleanup()">Clear</a>
          </div>
          <div class="custom-select me-2 p-0" style="width: 200px">
            <select name="language" id="languageSelect">
              <option value="ml">Malayalam</option>
              <option value="ta">Tamil</option>
              <option value="hi">Hindi</option>
              <option value="te">Telugu</option>
              <option value="mr">Marathi</option>
            </select>
          </div>
          <div><button id="submit_btn" type="submit" accesskey="k">Translate</button></div>
        </div>
      </form>
      <div class="divider">
      <hr>
      <div class="loader-container">
      <div class="loader"></div></div>
    </div>
      <div>
      <p id="translationOutput"></p>
    </div>
    </main>

    <script>
      const translateURL = '{% url "rreports_2:translate" %}';
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/select.js' %}"></script>
  </body>
</html>
